@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220 9.1% 43.1%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 142.1 76.2% 36.3%;
    --accent-foreground: 355.7 100% 97.3%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
    --chart-1: 142.1 76.2% 36.3%;
    --chart-2: 160 80% 45%;
    --chart-3: 40 90% 55%;
    --chart-4: 280 80% 60%;
    --chart-5: 340 90% 65%;
    --sidebar-background: 224 71.4% 4.1%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 142.1 76.2% 36.3%;
    --sidebar-primary-foreground: 355.7 100% 97.3%;
    --sidebar-accent: 220 14.3% 15.9%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 220 13% 21%;
    --sidebar-ring: 142.1 76.2% 36.3%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 220 14.3% 15.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 220 14.3% 15.9%;
    --muted-foreground: 220 8.9% 64.9%;
    --accent: 142.1 76.2% 36.3%;
    --accent-foreground: 355.7 100% 97.3%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 220 13% 28%;
    --input: 220 13% 28%;
    --ring: 142.1 76.2% 36.3%;
    --sidebar-background: 224 71.4% 4.1%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 142.1 76.2% 36.3%;
    --sidebar-primary-foreground: 355.7 100% 97.3%;
    --sidebar-accent: 220 14.3% 15.9%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 220 13% 21%;
    --sidebar-ring: 142.1 76.2% 36.3%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media print {
  body {
    background: white;
  }
  .no-print {
    display: none;
  }
  .print-only {
    display: block;
  }
  main {
    padding: 0;
  }
  .printable-content {
    display: block !important;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .printable-content .grid, .printable-content .flex {
    display: block;
  }
   .printable-content .card {
    box-shadow: none;
    border: none;
    page-break-inside: avoid;
  }
}
